In [1]:
import pandas as pd

In [25]:
data = pd.read_csv("data/ranking.csv").set_index('Request ID')

In [26]:
data.head()

               Market  Product  Market Rank  Product Rank
Request ID
49005           China        1            1             1
30679           China        1            2             2
45665       Singapore        1            2             3
49871              US        1            3             4
34614          Europe        1            3             5

In [8]:
sp = pd.DataFrame()

In [40]:
spg = data[data['Market']=='Singapore']['Market Rank']
ame = data[data['Market']=='US']['Market Rank']
cnn = data[data['Market']=='China']['Market Rank']
eur = data[data['Market']=='European']['Market Rank']

prod_1 = data[data['Product']== 1]['Product Rank']
prod_2 = data[data['Product']== 2]['Product Rank']
prod_3 = data[data['Product']== 3]['Product Rank']
prod_4 = data[data['Product']== 4]['Product Rank']

In [39]:
prod_1

Request ID
49005     1
30679     2
45665     3
49871     4
34614     5
36999     6
45334     7
24540     8
31341     9
30574    10
23954    11
32896    12
24198    13
24171    14
26975    15
30628    16
48676    17
40920    18
48699    19
40523    20
27669    21
37343    22
30245    23
30829    24
26571    25
20608    26
49392    27
47716    28
33386    29
44175    30
41358    31
39648    32
24867    33
33264    34
47553    35
30636    36
30770    37
26213    38
49325    39
40976    40
34049    41
38884    42
36840    43
Name: Product Rank, dtype: int64

In [19]:
import lxml

In [41]:
import requests

In [42]:
from lxml import html